*{
    margin: 0;
    padding: 0;
}

.my-slider{
    position: relative;
    border: 1px solid #000;
    margin: 50px;
    overflow: hidden;
}

.my-slider ul{
    list-style: none;
    display: flex;
    transition: transform .5s ease;
}

.my-slider ul li{
    flex: none;
    background: turquoise;
    padding: 10px;
    margin: 5px;
    width: calc(100% - 30px);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    top: calc(50% - 25px);
    height: 50px;
    width: 70px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.btn-next{
    right: 0;
}