.navbar{
    padding: 20px 0px;
    width: 100%;
    background: rgb(255, 80, 80);
}

.navbar .nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.navbar .nav .button{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.601);
    border-radius: 5px;
    background: transparent;
}